// $large_device:'(min-width: 1201px) and (max-width: 1900px)';
$large_device:'(min-width: 1600px)';
// $medium_device:' (min-width: 1400px)';
$desktop_device:'(min-width: 1200px) and (max-width: 1599px)';
$tablet_device:'(min-width: 800px) and (max-width: 1199px)';
// $mobile_device:'(max-width: 768px)';
$minimobile_device:'(max-width: 799px)';
$small_device:'(max-width: 360px)';